/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

:root {
  --bg-color: #000000;
  --bg-accent: #012507;
  --fg-color: #53585498; /* foreground color */
  --fg-accent: #727b7453; /* foreground color, when the area is not hovered over */
  --text-color: #ffffff;
  --accent1: #78ef6a;
  --accent2: #35d645;
  --transparent: #00000000;

  --main-font: "Videotype";
  --font-size: 1em; /* 1em == "medium" */

  --site-margin: 10%;
  --microsite-margin: 23%;
  --top-margin: 2%;
  --border-size: 5px;
  --padding: 10px;
  --text-padding: 5px;
  --padding-navbar: 5px;

  --transition-duration: 120ms;
}

/* #region GLOBAL */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Videotype";
  src: url("Assets/videotype.otf") format("opentype");
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  margin: var(--site-margin);
  margin-top: var(--top-margin);

  font-family: var(--main-font);
  font-size: var(--font-size);

  display: block;
  overflow: hidden; /* Hide scrollbars */
}

/* #endregion */

/* #region MICROSITE */

.microsite {
  margin: var(--microsite-margin);
  margin-top: var(--top-margin);
}

/* #endregion */

/* #region TEXT ELEMENTS */
  
br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: var(--text-padding); /* change this to whatever height you want it */
}

h1 {
  margin: 0;
  margin-bottom: var(--text-padding);
}

h2 {
  margin: 0;
  margin-bottom: var(--text-padding);
}

h3 {
  margin: 0;
  margin-bottom: var(--text-padding);
}

p {
  margin: 0;
  margin-bottom: var(--text-padding);
}

header p {
  margin: 0;
}

a {
  text-decoration: none;

  color: var(--accent2);
  transition: var(--transition-duration);
}

a:hover {
  color: var(--accent1);
}

a::before {
  content: "[ ";
  color: var(--transparent);
}

a:hover::before {
  color: var(--accent1);
}

a::after {
  content: " ]";
  color: var(--transparent);
}

a:hover::after {
  color: var(--accent1);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block: 0;
  margin-bottom: var(--text-padding);
  margin-inline-start: 20px;
  margin-inline-end: 0;
  padding-inline-start: 0
}

ul ul {
  display: block;
  list-style-type: circle;
  margin-block: 0;
  margin-inline-start: 10px;
  margin-inline-end: 0;
  padding-inline-start: 0
}

/* #endregion */

/* #region CONTENT CLASS */

main {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.content-row {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--padding);
}

.content-column {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.content {
  flex: 1;

  padding: var(--padding);

  border-left: var(--border-size) solid;
  border-right: var(--border-size) solid;

  background-color: var(--fg-accent);
  border-color: var(--accent2);

  transition: var(--transition-duration);
}

.content:hover {
  background-color: var(--fg-color);
  border-color: var(--accent1);
}

.subcontent {
  flex: 1;

  padding: var(--padding);
  padding-top: 0;
  padding-bottom: 0;

  border-left: var(--border-size) solid;
  border-right: var(--border-size) solid;
  border-color: var(--accent2);

  transition: var(--transition-duration);
}

.subcontent:hover {
  border-color: var(--accent1);
}

/* #endregion */

/* #region HEADER */

header {
  display: flex;
  align-items: center;

  margin-bottom: var(--padding);
}

nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* #endregion */

/* #region NEOCITIES LINK */

#neocities {
  position: absolute;
  right: 0;
  top: 0;
}

/* #endregion */

/* #region SITE BUTTON */

.button {
  padding: 0;
  margin: 0;
  border: none;
}

.button::before {
  content: "";
}

.button::after {
  content: "";
}

.button:hover {
  border: none;
}

.button a {
  display: inline;
}

.button img {
  display: block;
}

/* #endregion */

/* #region MISC CLASSES */

.inline {
  display: inline !important;
}

.inline img {
  display: inline !important;
}

.center-inline {
  display: inline !important;
  vertical-align: middle;
}

.center-inline img {
  display: inline !important;
}

.ul-table {
  display: flex;
  align-content: flex-start;
}

.ul-column {
  width: fit-content;
}

.ul-column li {
  width: auto;
}

.text-column {
  list-style: none;
  margin: 0;
  margin-left: 2em;
}

.text-column li {
  width: auto;
}

.status-cafe-entry {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--padding);

  margin: 0;
  margin-bottom: var(--text-padding);
}

.status-cafe-entry p {
  margin: 0;
  min-width: 7.5em;
}

/* #endregion */

/* #region IDs */

#status-cafe-feed {
  max-height: 10em;
  overflow: auto;
}

/* #endregion */

/* #region WEBKIT */


::-webkit-scrollbar {
  width: var(--border-size);
  background: none;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--accent2);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent1);
}

/* #endregion */

/* #region CANVAS */

canvas {
  z-index: -1;
  border: 1px dotted black;
  position: absolute;
  top: 0;
  left: 0;
}

/* #endregion */


/* #region REGION */
/* #endregion */
